.about-section {
    position: relative;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background: #141414;
    border-radius: 12px;
    box-shadow: 6px 6px 10px 0px rgb(0, 0, 0);
    margin-top: 1%;
} 
.about-section h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #337ecf;
    margin-bottom: 1.5rem;
}
.about-section p, ul {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: rgb(194, 194, 194);
}
.about-section p:last-child {
    margin-bottom: 0;
}
.about-section {
    animation: fadeIn 1.5s ease-in-out;
}
.subtitle {
  color: #337ecf;
}
.about-section {
  text-indent: 1.5em;
}
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }