.heading {
    color: #337ecf;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    position: relative;
    z-index: 2;
}
.gallery {
    position: relative;
    z-index: 1; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
/* Стиль для кожного елементу */
.content-data {
    background-color: #141414;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: rgb(194, 194, 194);
    border-radius: 10px;
    overflow: hidden;
    /* width: 100%; */
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}
/* Стиль для зображень */
.content-data img {
    width: 100%;
    height: auto;
}
.content-data h2 {
    font-size: 1.2rem;
}
.content-data p {
    font-size: 1.2rem;
    padding: 0 10px;
}
 @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* Адаптивність 📱------------------------------------------------------- */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
    }
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
    }
}