.forecast-note {
  font-style: italic;
}

.table-wrapper {
  overflow-x: auto; /* скрол */
}

.widget-kpforecast .table-wrapper {
  display: block;
}

.widget-kpforecast {
  width: 45%;
}

.widget-container-kpforecast p {
  padding-left: 5%;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  min-width: 90%;
  margin: 0 auto;
}

th, td {
  padding: 8px 10px;
  text-align: center;
  white-space: nowrap;
}

th {
  background: #50637e;
  font-weight: 600;
}

td.time {
  text-align: left;
  font-weight: 500;
  background: #677a95;
}

td:not(:first-child) {
  background: #131b3d;
}

.kp-0, .kp-1 { color: rgb(98, 235, 57); }
.kp-2, .kp-3 { color: rgb(98, 235, 57); }
.kp-4 { color: rgb(98, 235, 57); }
.kp-5, .kp-6 { color: rgb(234, 231, 61); }
.kp-7, .kp-8, .kp-9 { color: rgb(234, 59, 59); }

/* Адаптивність 📱---------------------------------------------------------- */
@media (max-width: 768px) {
  .kp-widget {
    padding: 14px;
  }

  table {
    font-size: 13px;
  }

  th, td {
    padding: 6px 8px;
  }

  .kp-widget h2 {
    font-size: 16px;
  }

  .widget-kpforecast {
        width: 90%;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .widget-kpforecast {
        width: 70%;
        height: auto;
    }
}