.container-for-news {
    position: relative;
    z-index: 1;
    width: 55%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    background: #48607c;
    border-radius: 8px;
    box-shadow: 6px 6px 10px 0px rgb(0, 0, 0),
    inset 0px 0px 26px 2px rgba(0,0,0,0.49);
}
.container-for-news h1 {
    text-align: center;
    font-size: 26px;
}
.article {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.article h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}
.article p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 18px;
    color: #000000;
}
.article a {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 18px;
    text-decoration: none;
    color: rgb(216, 215, 215);
    font-size: 1.5rem;
    font-weight: bold;
}
.article a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container-for-news {
        width: 90%;
    }
}