body {
    background: radial-gradient(at center top, #3e6a9a, #222435);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /*max-width: 1200px; */
    width: 80%;
    gap: 20px;
}
.main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game {
    display: flex;
    justify-content: center;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    margin-bottom: 20px;
}
.cell {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snake {
    color: green;
}
.food {
    color: red;
}
.bonus {
    color: gold;
}
.debuff {
    color: brown;
}
.border {
    background-color: rgb(22, 21, 21);
}
.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: rgb(235, 235, 235);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* width: 100%; */
}
.button:active {
    background-color: #0056b3;
}
#score {
    font-size: 18px;
}
#timer {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.heading {
    font-size: 18px;
    text-align: center;
    font-family: monospace;
    margin: 5px 0;
    font-weight: bold;
}
.hint {
    font-size: 15px;
    text-align: center;
    font-family: monospace;
    margin: 5px 0;
}
.legend-card {
    background: #33659a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0px rgb(0, 0, 0);
}
.legend-card p {
    margin: 5px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #020202;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.leaderboard-wrap {
    background: #33659a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0px rgb(0, 0, 0);
}
.leaderboard-wrap p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    color: #020202;
    font-family: Arial, Helvetica, sans-serif;
}
.board-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
/* .ad {
       
} */

/* для модального вікна */
#nickname-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  #nickname {
    margin-bottom: 10px;
    padding: 5px;
  }
  


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* .legend-card, .main-game, .leaderboard-wrap {
        width: 100%; 
        max-width: 90%;
    } */

    .main-game {
        max-width: 90%;
    }

}