html, body {
    margin: 0;
    height: auto;
    
}
body {
    background: radial-gradient(at center top, #1B2735, #090A0F);
    margin: 0;
    height: 100vh; /* body займає всю висоту екрану */
    overflow-x: hidden;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
}
.menu {
    border: 1px solid rgb(89, 89, 89); /* Рамка */
    border-radius: 30px; /* Скруглені краї */
    padding: 0.5%;
    width: 25%;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: rgb(201, 200, 200);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
.menu a:hover {
    color: rgb(255, 255, 255);
}
.planet {
    width: 4%;
    height: auto;
    position: relative;
    z-index: 1;
}
.stars {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; /* Контейнер займає всю висоту сторінки */
    pointer-events: none;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8; /*Прозорість елемента*/
    /* animation: float 10s infinite linear; */
}
.widget {
    border-radius: 8px; /* Скруглені краї */
    position: relative;
    z-index: 1; 
    width: 25%;
    max-width: 400px;
    height: auto;
    background-image: linear-gradient( 109.6deg, rgb(52, 101, 101) 11.2%, rgb(51, 57, 100) 91.1% );
    box-shadow: 6px 6px 10px 0px rgb(0, 0, 0),
    inset 0px 0px 26px 2px rgba(0,0,0,0.49);
    margin-top: 2%;
    margin-left: 2%;
    font-size: 2.1ch;
    font-family: sans-serif;
}
.widget .widget-container {
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
}
.widgetset1, .widgetset2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.widgetset2 {
    margin: 2%;
}
.iss-stream {
    position: relative;
    z-index: 1; 
    margin-right: 2%;
}
#isstracker {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    z-index: 1;
}
.widget-title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 1.7ch;
    font-weight: bold;
}
.astro-details {
    display: flex;
    align-items: center;
    gap: 10px;
}
.astro-times {
    display: flex;
    flex-direction: column;
}
.astro-times p {
    margin: 5px;
    padding: 0;
}
.icon {
    font-size: 2rem; /* Розмір емодзі */
}
#city-input {
    border: 2px solid rgb(35, 54, 54);
    border-radius: 5px;
    background-color: rgb(21, 52, 52);
    color: #d4d4d4;
    outline: none;
    font-size: 1.7ch;
}
#city-btn {
    color: #d4d4d4;
    background-color: rgb(21, 52, 52);
    border: 2px solid rgb(35, 54, 54);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7ch;
}
#city-btn:hover {
    background-color: #126f9d;
}
#city-btn:active {
    transform: scale(0.8);
}
footer {
    color: rgb(17, 93, 129);
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

/* Анімація зірок ✨--------------------------------------------------------- */
/* @keyframes float {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-20px, 15px); 
    }
    100% {
        transform: translate(0, 0);
    }
} */

/* Адаптивність 📱---------------------------------------------------------- */
@media (max-width: 768px) {
    .widget {
        width: 90%;
        height: auto;
    }
    .iss-stream iframe {
        width: 99%;
        height: auto;
    }
    .planet {
        width: 13%;
        height: auto;
    }
    .menu {
        width: 93%;
    }
}