body {
    background: radial-gradient(at center top, #1B2735, #090A0F);
    /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */

    margin: 0;
    height: 100vh; /* body займає всю висоту екрану */
    /* overflow: hidden; */
    background-size: cover; 
    background-repeat: no-repeat;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
}

.menu {
    border: 1px solid rgb(89, 89, 89); /* Рамка */
    border-radius: 30px; /* Скруглені краї */
    padding: 0.5%;
    width: 25%;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: rgb(201, 200, 200);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

.planet {
    width: 4%;
    height: auto;
}

.widget1 {
    border-radius: 8px; /* Скруглені краї */
    position: relative;
    z-index: 1; 
    width: 400px;
    height: 200px;
    /* background-image: linear-gradient(to right, #2c324e, #23354a); */
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    background-image: linear-gradient( 109.6deg, rgb(52, 101, 101) 11.2%, rgb(51, 57, 100) 91.1% );
    box-shadow: 6px 6px 10px 0px rgb(0, 0, 0);
    margin-left: 2%;
}

.stars {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8; /*Прозорість елемента*/
    /* animation: float 10s infinite linear; */
}

/* Анімація зірок ✨ */
/* @keyframes float {
    0% {
        transform: translate(0, 0);
         Початковий стан
    }
    50% {
        transform: translate(-20px, 15px);
        50% анімації:
           - Елемент зсувається на -20px по осі X (вліво)
           - Елемент зсувається на +15px по осі Y (вниз)
    }
    100% {
        transform: translate(0, 0);
         Елемент повертається у початкову позицію
    }
} */